
$banners: (
    desktops: '../images/escritorio-banner.jpeg',
    chairs: '../images/sillas.jpeg',
    accesories: '../images/accesories-banner.jpeg',
    contact: '../images/contact-banner.jpeg',
);

$titleColor: cadetBlue;